table, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
    /* padding: 5px; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* top: 10px; */
}
th{
    background-color: darkcyan;
}
/* html, #apln { height: 100%; }  */
#apln { 
    margin: 0; 
    font-family: Roboto,"Helvetica Neue", sans-serif; 
    /* padding: 100px 25px 25px 10px; */
    padding-top: 100px;
    background-image:url('../../assets/images/bg1.gif'); 
    background-repeat:repeat;
    overflow:hidden;
    /* zoom: 1; */
    /* background-size:contain; */
    height:fit-content;
    /* width: fit-content; */
  } 
  /* @media (max-width: 979px) {
    #apln {
      padding-top: 0px;
    }
  }  */