<app-headerbm></app-headerbm>
<div id="apln">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Name & Email</th>
            <th>Address & Ph No.</th>
            <th>Course</th>
            <th>Batch</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">John Doe</p>
                  <p class="text-muted mb-0">john.doe@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">XYZ Nivas, Thane</p>
              <p class="text-muted mb-0">+01 234567898</p>
            </td>
            <td>
              <span class="badge badge-success rounded-pill d-inline">FSD</span>
            </td>
            <td>Batch 1</td>
            <td>Pending</td>
            <td>
              <button
                      type="button"
                      class="btn btn-link btn-rounded btn-sm fw-bold"
                      mdbRipple rippleColor="dark"
                      >
                Accept
              </button>
              <button
                    type="button"
                    class="btn btn-link btn-rounded btn-sm fw-bold"
                    mdbRipple rippleColor="dark"
                    >
                Reject
            </button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Alex Ray</p>
                  <p class="text-muted mb-0">alex.ray@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">ABC Apartment, Pune</p>
              <p class="text-muted mb-0">+91 4567342356</p>
            </td>
            <td>
              <span class="badge badge-primary rounded-pill d-inline"
                    >DSA</span
                >
            </td>
            <td>Batch 2</td>
            <td>Pending</td>
            <td>
              <button
                      type="button"
                      class="btn btn-link btn-rounded btn-sm fw-bold"
                      mdbRipple rippleColor="dark"
                      >
                Accept
              </button>
              <button
              type="button"
              class="btn btn-link btn-rounded btn-sm fw-bold"
              mdbRipple rippleColor="dark"
              >
        Reject
      </button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Kate Hunington</p>
                  <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">PQR 89/3456, Gujarat</p>
              <p class="text-muted mb-0">+81 7834673829</p>
            </td>
            <td>
              <span class="badge badge-warning rounded-pill d-inline">FSD</span>
            </td>
            <td>Batch 2</td>
            <td>Pending</td>
            <td>
              <button
                      type="button"
                      class="btn btn-link btn-rounded btn-sm fw-bold"
                      mdbRipple rippleColor="dark"
                      >
                Accept
              </button>
              <button
              type="button"
              class="btn btn-link btn-rounded btn-sm fw-bold"
              mdbRipple rippleColor="dark"
              >
        Reject
      </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
<app-footerbm></app-footerbm>
