<app-headerbm></app-headerbm>
<div id="cntct">
    <div class="main">
        <div class="left">
            <h2>Contact Admin</h2>
            <p><a routerLink="address">View Address</a></p>
            <p><a routerLink="phone">View Phone Number</a></p>
        </div>
        <div class="right">
            <div class="background">
                <div class="blur">
             <router-outlet></router-outlet>
             </div>
            </div>
        </div>
    </div>
    </div>
<app-footerbm></app-footerbm>