<nav class="navbar fixed-top navbar-light bg-dark justify-content-between">
    <img src="../../assets/images/ict.png" class="responsive" width="100" height="70" alt=""  >
    <a routerLink="/homeadmin"><h2>ADMIN</h2></a>
    
    <form class="form-inline">
    <a class="btn btn-outline-primary" id="BatchManager" routerLink="/batch" target="" role="button">BatchManager</a>
    <!-- <a class="btn btn-outline-primary" id="newbatch" routerLink="new" target="" role="button">Newbatch Manager</a>  -->
    <a class="btn btn-outline-primary" id="newbatch" routerLink="/new" target="" role="button">Newbatch Manager</a> 
    <a class="btn btn-outline-primary" id="formcontrol" routerLink="/confirmcheck" target="" role="button">FormControl</a>
  
    <a class="btn btn-outline-primary" id="logout" routerLink="" target="" role="button">Logout</a>
</form>
</nav>
