
#img1{
    width: 200px;
}
.d-flex{
    margin-left: 400px;
}
.myMargin{
    margin: 25px;
    padding-left: 10px;
}
.carousel-inner{
    border-radius: 15px;
}
.d-block{
    height: 500px;
}
#emailHelp{
    font-size: 12px;
    color: green;
}
.navbar-brand{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.login{
    float: right;
    border: 2px solid rgb(3, 82, 3);
    background-color: rgb(184, 243, 184);
    height: 30em;
    margin-left: 35px;
    margin-right: 30px;
    border-radius: 15px;
}
.login h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight:bold;
    color: green;
    text-align: center;
    padding: 5%;
    margin-top: 5%;
    background-color: white;
    border-radius: 15px;
}
.login-cont{
    padding-left: 5px;
    }
.login-cont p{
    color: azure;
    font-family: cursive;
    font-size: 12px;
}

.login-misc h5{
    font-size: 13px;
    color: red;
    font-family:'Times New Roman', Times, serif;
}
.login-misc a{
    font-size: 15px;
    color: rgb(3, 24, 3);
}
input[type="text"]::placeholder { 
    text-align: center;
}
input[type="password"]::placeholder { 
    text-align: center;
}
.row{
    padding-top: 20px;
    /* background-image: url("./images/dp3.jpg"); */
}
.log_but{
    padding-left: 65px;
}
.container{
    margin-top: 7%;
    margin-left: 4%;
    height: 100px;
}
.p-box{
    border:2px solid rgb(10, 78, 10);
    border-radius: 15px;
    width: 19%;
    height: 28em;
    float:left;
    margin-left: 8px;
    padding: 5px;
    background-color: rgb(180, 240, 132);
}
.p-box h3{
    text-align: center;
    font-size: 15px;
}
.p-box p{
    line-height: 1.25em;
    text-align: justify;
    margin-bottom: 0;
}
.p-box a{
    color: red;
}
.artDemo{
    width: 199px;
    height: 149px;
}
footer{
    background-color: black;
    color: white;
    height: 10em;
    margin-top: 29%;
}
footer a{
    color: maroon;
    background-color: brown;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
}
/* footer a :hover{
    background-color: rgb(4, 77, 4);
    color: aquamarine;
} */
footer li{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    
}
footer h2{
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: yellow;
}
.col{
    text-align: center;
    border: solid;
    padding: 2%;
    background-color: rgb(224, 203, 243);
}
.d{
    color: darkolivegreen;
    text-decoration: none;
    font-family:cursive;
}
h1{
    color: rgb(153, 5, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: rgb(212, 97, 212);
    font-weight: 20px;
}
ul{
    color: goldenrod;
}
#main { 
    margin: 0; 
    font-family: Roboto,"Helvetica Neue", sans-serif; 
    /* padding: 100px 25px 25px 10px; */
    padding-top: 100px;
    background-image:url('../../assets/images/bg1.gif'); 
    background-repeat:repeat;
    overflow:hidden;
    /* background-size:contain; */
    height:fit-content;
    /* width: fit-content; */
  } 